$main: #2c3e50;
$text: #2e2d2d;
$link_active: #3f9cd1;
$link_hover: #3a7ca5;
$link_visited: #2f6690;
$border: #81c3d7;
$accent: #6D87A7;           
$error: #811702;
$warning: #F9E055;
$valid: #038144;